[Unit]
Description=Mycroft personal AI
After=mqttmycroft.service
Wants=mqttmycroft.service
 
[Service]
WorkingDirectory=/home/pi/mycroft-core
ExecStart=/home/pi/mycroft-core/start-mycroft.sh all
ExecStop=/home/pi/mycroft-core/stop-mycroft.sh 
Type=forking
Restart=always
RestartSec=3
 
[Install]
WantedBy=multi-user.target
