[Unit]
Description=Trumpy Bear
After=mycroft.service
Wants=mycroft.service
[Service]
ExecStart=/home/pi/trumpybear/trumpybear.sh

[Install]
WantedBy=multi-user.target
